


/* main start */
main #content{
    margin-top: 50px;
    padding: 20px 0 0 20px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

@media (max-width: 900px) {
    img{
        display: none;
    }
}

/* main end */

/* more section start */
section#more{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
section#more img{
    width: 50px;
}

section#more a{
    text-decoration: none;
}
section#more .more-text{
    display: inline-block;
    padding: .35em .65em;
    font-size: .7em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background-color: #0d6efd;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .5rem;
}

footer{
    margin-top: 50px !important;
}