/* 这里用来避免思维导图的溢出 */
img {
    max-width: 100%;
    height: auto;
}

.d-none{
    display: none;
}

section#spinner{
    margin-top: 200px;
    margin-bottom: 300px;
    text-align: center;
}
@-webkit-keyframes spinner-border {
    to {
      transform: rotate(360deg) /* rtl:ignore */;
    }
}
  
@keyframes spinner-border {
    to {
        transform: rotate(360deg) /* rtl:ignore */;
    }
}
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
    color: #0d6efd;
}
section#spinner h5{
    margin-top: 20px;
}


/* main start */
main #content{
    margin-top: 50px;
    padding: 20px 0 0 20px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

@media (max-width: 900px) {
    img[alt="markdown_image"]{
        display: none;
    }
    
}

/* main end */

/* more section start */
section#more{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
section#more img{
    width: 50px;
}

section#more a{
    text-decoration: none;
}
section#more .more-text{
    display: inline-block;
    padding: .35em .65em;
    font-size: .7em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background-color: #0d6efd;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .5rem;
}

footer{
    margin-top: 50px !important;
}